{% extends 'core/about.html' %}
{% load static %}

{% block titulo %}
Academico | Docentes
{% endblock titulo %}

{% block style %}
<link rel="stylesheet" href="{% static 'core/css/docente.css' %}">
{% endblock style %}


{% block titulobaner %}
Docentes
{% endblock titulobaner %}


{% block body %}

<section class="blog_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <p>Nuestro equipo</p>
                    <h2>Docentes</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row active-with-click mb-5">
                {% for docente in docentes %}
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <article class="material-card Red">
                        <h2>
                            <span>{{docente.nombre}} {{docente.apellido}}</span>
                            <strong>
                                <i class="fa fa-fw fa-magic"></i>
                                Docente
                            </strong>
                        </h2>
                        <div class="mc-content">
                            <div class="img-container">
                                <img class="imagen_docente" src="{{docente.imagen.url}}">
                            </div>
                            <div class="mc-description">
                                {{docente.informacion}}
                            </div>
                        </div>
                        <a class="mc-btn-action">
                            <i class="fa fa-bars"></i>
                        </a>
                        <div class="mc-footer">
                            <h4>
                                Enseña:
                            </h4>
                            <h5 class="container-fluid"> {% for materia in docente.materias.all %}{{materia.nombre}}{% if not forloop.last %},
                                {% endif %}{% endfor%}
                            </h5>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!--::fin servicios::-->

{% endblock body %}