{% extends 'dash/base.html' %}
{% load static %}
{% block titulo %} Academico | Docentes {% endblock titulo %}
{% block contenido %}
<div class="container">
    <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="font-weight-bold text-uppercase mb-1">
                        Actualizar Docente
                    </div>
                    <div class="dropdown-divider"></div>

                    <form method="POST" class="user" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row ">
                            <div class="form-group col-xl-3 col-lg-3 col-mb-12 d-flex justify-content-center">
                                <div class="contenedor">
                                    <a href="{{ docente.imagen.url }}">
                                        <img src="{{ docente.imagen.url }}" class="foto rounded border-left-primary"
                                            alt="...">
                                    </a>
                                    <br> Imagen Actual
                                </div>
                            </div>

                            <div class="col-xl-9 col-lg-9 align-middle">
                                <div class="row">
                                    <div class="form-group col-xl-12 col-lg-12">
                                        Seleccione una foto:
                                        <input type="file" name="imagen" class="form-control-file mt-3" id="id_imagen">
                                        <small class="text-danger"> {{ form.imagen.errors }}</small>
                                    </div>
                                    <div class="form-group col-xl-6 col-lg-6">
                                        <input type="text" class="form-control form-control-user" required name="nombre"
                                            id="id_nombre" placeholder="Nombre" value="{{docente.nombre}}"
                                            maxlength="12" minlength="2">
                                        <small class="text-danger"> {{ form.nombre.errors }}</small>
                                    </div>
                                    <div class="form-group col-xl-6 col-lg-6">
                                        <input type="text" class="form-control form-control-user" required
                                            name="apellido" id="id_apellido" placeholder="Apellido"
                                            value="{{docente.apellido}}" maxlength="12" minlength="2">
                                        <small class="text-danger"> {{ form.apellido.errors }}</small>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-xl-12 col-lg-12">
                                        <input type="text" class="form-control form-control-user" required
                                            name="informacion" id="id_informacion" placeholder="Informacion del docente"
                                            value="{{docente.informacion}}" maxlength="150">
                                        <small class="text-danger"> {{ form.informacion.errors }}</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xl-6 col-lg-6">
                                        Selecciones las Materias:
                                        <br>
                                        {{form.materias}}
                                        <small class="text-danger"> {{ form.materias.errors }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="col text-center">
                                <button type="submit" class="btn btn-success">Actualizar</button>
                                <a href="{% url 'docente_urldash:list' %}" class="btn btn-danger">Cancelar</a>
                            </div>
                        </div>
                    </form>

                    <!--
                    {{form.as_p}}
                    -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}