{% extends 'dash/base.html' %}
{% load static %}
{% block titulo %} Academico | Servicios {% endblock titulo %}
{% block contenido %}
<div class="container">
    <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                        Nuevo Servicio
                    </div>
                    <div class="dropdown-divider"></div>


                    <form method="POST" class="user" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row ">
                            <div class="form-group col-xl-6 col-lg-6">
                                <input type="text" class="form-control form-control-user" required name="titulo"
                                    id="id_titulo" placeholder="Titulo"
                                    value="{% if form.titulo.value %}{{form.titulo.value}}{%endif%}" maxlength="20" minlength="4">
                                <small class="text-danger"> {{ form.titulo.errors }}</small>
                            </div>
                            <div class="form-group col-xl-6 col-lg-6">
                                <input type="text" class="form-control form-control-user" required name="descripcion"
                                    id="id_descripcion" placeholder="Descripcion"
                                    value="{% if form.descripcion.value %}{{form.descripcion.value}}{%endif%}"
                                    maxlength="50">
                                <small class="text-danger"> {{ form.descripcion.errors }}</small>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="form-group col-xl-12 col-lg-12">
                                {{form.contenido}}
                            </div>
                            <small class=" text-danger"> {{ form.contenido.errors }}</small>
                        </div>
                        <div class="row ">
                            <div class="form-group col-xl-3 col-lg-3">
                                <input type="number" class="form-control form-control-user" required name="mensualidad"
                                    id="id_mensualidad" placeholder="Mensualidad" min="0"
                                    value="{% if form.mensualidad.value %}{{form.mensualidad.value}}{%endif%}">
                                <small class=" text-danger"> {{ form.mensualidad.errors }}</small>
                            </div>
                            <div class="form-group col-xl-3 col-lg-3">
                                <input type="number" class="form-control form-control-user" required name="matricula"
                                    id="id_matricula" placeholder="Matricula" min="0"
                                    value="{% if form.matricula.value %}{{form.matricula.value}}{%endif%}">
                                <small class="text-danger"> {{ form.matricula.errors }}</small>
                            </div>
                            <div class="form-group col-xl-6 col-lg-6">
                                <input type="text" class="form-control form-control-user" name="jornada" id="id_jornada"
                                    placeholder="Jornada"
                                    value="{% if form.jornada.value %}{{form.jornada.value}}{%endif%}" maxlength="80">
                                <small class="text-danger"> {{ form.jornada.errors }}</small>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="form-group col-xl-6 col-lg-6">
                                <p><label for="id_imagen">Seleccione una imagen:</label>
                                    <input type="file" name="imagen" accept="services/*" required id="id_imagen"
                                        value="{% if form.imagen.value %}{{form.imagen.url.value}}{%endif%}">
                                </p>
                                <small class="text-danger"> {{ form.imagen.errors }}</small>
                            </div>
                            <div class="form-group col-xl-3 col-lg-3">
                                <div class="custom-control custom-checkbox small">
                                    <input type="checkbox" class="custom-control-input" name="index" id="id_index"
                                        checked>
                                    <label class="custom-control-label" for="id_index">¿ Mostrar en el inicio ?</label>
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-lg-3">
                                <div class="custom-control custom-checkbox small">
                                    <input type="checkbox" class="custom-control-input" name="estado" id="id_estado"
                                        checked>
                                    <label class="custom-control-label" for="id_estado">Publicado/Oculto:</label>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="col text-center">
                                <button type="submit" class="btn btn-success">Crear</button>
                                <a href="{% url 'services_dash:list' %}" class="btn btn-danger">Cancelar</a>
                            </div>
                        </div>
                    </form>

                    <!--
                    {{form.as_p}}
                    -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}