{% extends 'blog/blog.html' %}
{% load static %}


{% block titulo %}
Academico | Blog
{% endblock titulo %}

{% block titulobaner %}
{{ post.titulo }}
{% endblock titulobaner %}


{% block post%}
<div class="posts-list">
   <div class="single-post">
      <div class="feature-img">
         <img class="img-fluid" src="{{ post.imagen.url }}" alt="">
      </div>
      <div class="blog_details">
         <h2>{{post.descripcion}}</h2>
         <ul class="blog-info-link mt-3 mb-4">
            <li>
               <a href="javascript:void(0)">{{post.creacion}}</a>
            </li>
            <li>
               <a href="javascript:void(0)">{{post.autor}}</a>
            </li>
         </ul>
         <p class="excert">
            {{ post.contenido|safe }}
         </p>
      </div>
   </div>
</div>
{% endblock post %}

{%block sidebar%}
<div class="col-lg-4">
   <div class="blog_right_sidebar">
      <aside class="right-contents">
         <div class="sidebar_top">
            <ul>
               <li>
                  <a class="justify-content-between d-flex">
                     <p class="color">Autor</p>
                     <span> {{post.autor}}</span>
                  </a>
               </li>
               <li>
                  <a class="justify-content-between d-flex">
                     <p class="color">Fecha</p>
                     <span>{{post.creacion}}</span>
                  </a>
               </li>
            </ul>
            <a href="{% url 'contact' %}" class="btn_1 d-block">Contactanos</a>
         </div>
      </aside>

      <aside class="single_sidebar_widget popular_post_widget">
         <h3 class="widget_title">Post Recientes</h3>
         {% for post in lista_posts %}
         <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
               <div class="bloque col-md-4">
                  <img src="{{ post.imagen.url }}" class="card-img fotobloque" alt="...">
               </div>
               <div class="col-md-8">
                  <div class="card-body">
                     <h5 class="card-title">{{post.titulo}}</h5>
                     <p class="card-text">{{ post.creacion}}</p>
                  </div>
               </div>
            </div>
         </div>
         {% endfor %}
      </aside>
   </div>
</div>
{%endblock sidebar%}