<div class="modal-dialog">
    <div class="modal-content">

        <form action="{% url 'link_urldash:update' link.id %}" role="form" method="POST">
            {% csrf_token %}
            <div class="modal-header border-bottom-warning">
                <h5 class="modal-title" id="exampleModalLabel">{{link.nombre}}</h5>
                <i class="far fa-thumbs-up fa-2x text-gray-300"></i>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-md-9 col-9">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" required name="url"
                                    id="id_url" placeholder="Enlace"
                                    value="{% if form.url.value %}{{form.url.value}}{%endif%}">
                                <small class="text-danger"> {{ form.url.errors }}</small>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-3 col-3">
                            <div class="custom-control custom-checkbox small">
                                <input type="checkbox" class="custom-control-input" name="estado" id="id_estado"
                                    {% if link.estado %} checked {% endif %}>
                                <label class="custom-control-label" for="id_estado">Activo/Inactivo:</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer border-bottom-warning">
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-success">Actualizar</button>
                        <a href="#" onclick="return cerrar_modal()" class="btn btn-danger">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>